* {
    font-family: 'Monsterrat', sans-serif;
    letter-spacing: 0.05rem;
}

table {
    margin-top: 1%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #78176D;

    text-indent: 50px;
}

.blocker {
    display: block !important;
}

.footer {
    position: fixed;
    font-size: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b32929;
    color: white;
    text-align: center;
    height: 60px;
}

h2{
    text-align: center;
    letter-spacing: 3px;
}
.panel-body{
    text-align: center !important;
}
p {
    text-align: center;
    letter-spacing: 3px;
}

img {
    align-self: center;
    margin: 0% 15%;
}

option {
    text-align: center;
}

select{
    height: 50px;
}

nav{
    background: #b32929 ;
    height: 45px;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.nav-item{
    margin: 0px 20px !important;
}

a{
    color:#ffc107 !important;
}

.form-item{
    margin: 20px;
    text-align: center;
}

.delete{
    align-self: flex-end;
}

.btn-outline-danger{
    width: 30%;
}

.container-fluid {
    padding: 0% 35% !important;
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.container-for-list{

}

.container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

img{
 margin: 20px;
}

.list-group{
    margin-bottom: 20px !important;
}
.wrapper{
    display: flex;

    align-items: center;
    height: 100vh;
}

.custom-container {
    display: flex;
    justify-content: flex-end;
}

.custom-container-centered {
    display: flex;
    justify-content: center;
}

.custom-container .btn-group:not(:last-child) {
    margin-right: 2%;
}

.margin {
    margin-bottom: 20px;
}
.yellow{
    background-color: #fff3cd !important;
}
.btn{
    padding: 10px;
    width: 100%;
    text-align: center !important;
}

.btn-outline-warning{
    background-color: #b32929 !important;
    text-align: initial;
}

.btn:hover {
    cursor: pointer;
}


.alert-warning {
    text-align: center;
}
.show-manager {
    width: 50%;
    margin: auto;
    padding: 2% 2%;
}

.manage-student {
    width: 100%;
    padding: 7% 9%;
}

.alert-primary{
    text-align: center;
}
.div{
    align-items: center;
}
.info-table{
    margin: 50px 30px;
}
.do-registration{
    margin: 0% 30%;
    color: #007bff; !important;
}